<div class='header'>
  <nav>
    <ul class="nav nav-pills">
      <li>
        <%= link_to 'Úvod', root_path %>
      </li>
      <li>
        <%= link_to 'Faktury', invoices_path %>
      </li>
      <li>
        <%= link_to 'Nová faktura', new_invoice_path %>
      </li>
    </ul>
  </nav>
</div>
